In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data/metadata_clean.csv')
df.head()

       title     genres  runtime  vote_average  vote_count    year
0  Toy Story  Animation     81.0           7.7      5415.0  1995.0
1  Toy Story     Comedy     81.0           7.7      5415.0  1995.0
2  Toy Story     Family     81.0           7.7      5415.0  1995.0
3    Jumanji  Adventure    104.0           6.9      2413.0  1995.0
4    Jumanji    Fantasy    104.0           6.9      2413.0  1995.0

In [7]:
orig_df = pd.read_csv('data/movies_metadata.csv', low_memory=False)

In [10]:
df[['overview', 'id']] = orig_df[['overview', 'id']]
df.head()

,title,genres,runtime,vote_average,vote_count,year,overview,id
0,Toy Story,Animation,81.0,7.7,5415.0,1995.0,"Led by Woody, Andy's toys live happily in his ...",862
1,Toy Story,Comedy,81.0,7.7,5415.0,1995.0,When siblings Judy and Peter discover an encha...,8844
2,Toy Story,Family,81.0,7.7,5415.0,1995.0,A family wedding reignites the ancient feud be...,15602
3,Jumanji,Adventure,104.0,6.9,2413.0,1995.0,"Cheated on, mistreated and stepped on, the wom...",31357
4,Jumanji,Fantasy,104.0,6.9,2413.0,1995.0,Just when George Banks has recovered from his ...,11862

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
tfid = TfidfVectorizer(stop_words='english')

In [14]:
df['overview'] = df['overview'].fillna('')

In [16]:
tfid_matrix = tfid.fit_transform(df['overview'])
tfid_matrix.shape

(93548, 75827)

In [17]:
from sklearn.metrics.pairwise import linear_kernel

In [18]:
cosine_sim = linear_kernel(tfid_matrix, tfid_matrix)